/* Coding Quiz */
:root {
--Primary: #94c973;
--Secondary: #2f5233;
--tertiary: #D2FBA4;

}

body {
    background-color: var(--Secondary);
}
title {
   font-family: Georgia, 'Times New Roman', Times, serif; 
}

nav {
   margin: 0;
   width:100%;
   background-color: var(--tertiary); 
   vertical-align: middle;  
   display:flex;
   margin-bottom: 55px;

}

#highscores h3 {
    color:var(--Secondary);
    float:left;
    display: flex;
    
   
}

#timer  {
    color:var(--Secondary);
    float: right;
    display: flex;
    border: 25px;
    background-color: #94c973;
    font: bold;
    margin: 15px;
    font-size: 29px;

}


#quiz-container {
    width:65%;
    margin:auto;
    padding: 0 55px 75px 25px;
    background-color: var(--Primary);
    border-radius: 30px;
    max-width: 800px;
    box-shadow: 0 0 15px 4px;
    
}

#choices button {
    margin:25px;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--tertiary) ;
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    text-decoration: none;
}

#quizcontent {
    font-family: sans-serif;
    text-align: center;
    color: var(--Secondary);
    font-size: 31px;
}

#quizcontent h3 {
    font-family: sans-serif;
    text-align: center;
    color: var(--Secondary);
    font-size: 25px;
    font-weight: bolder;
}


.next , .get-results {
    margin:auto;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--tertiary) ;
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    text-decoration: none;
    
}

#saveButton{
    display: none;
    
}

.get-results {
    display: none;
}


