/* Coding Quiz */
:root {
--Primary: #94c973;
--Secondary: #2f5233;
--tertiary: #D2FBA4;

}
title {
   font-family: Georgia, 'Times New Roman', Times, serif; 
}

nav {
   margin: 0;
   width:100%;
   background-color: var(--tertiary); 
   vertical-align: middle;  
   display:flex;

}

#highscores h3 {
    color:var(--Secondary);
    float:left;
    display: flex;
   

}

#timer h3 {
    color:var(--Secondary);
    float: right;
    display: flex;
    margin-left: 450px;

}


#quiz-container {
    width:65%;
    margin:auto;
    padding: 0 35px 55px 15px;
    background-color: var(--Primary);
    border-radius: 30px;
    max-width: 800px;
    
}

#heading {
    font-family: sans-serif;
    text-align: center;
    color: var(--Secondary);
}

.next-button {
    margin:auto;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--tertiary) ;
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    text-decoration: none;
    
}


